.a{
    height: 200px;
    width: 200px;
}
.a:hover{
    filter: grayscale(0.5);
}

.b{
    height: 200px;
    width: 200px; 
}
.b:hover{
    
    filter: opacity(0.9);
}

.c{
    height: 200px;
    width: 200px;
}
.c:hover{
    filter: drop-shadow(7px 5px 10px);
}

.d{
    height: 200px;
    width: 200px;
}
.d:hover{
    filter: contrast(5);
    filter: brightness(5);
}

.e{
    height: 200px;
    width: 200px;
}
.e:hover{
   filter: hue-rotate(60deg);

}
