.aa{
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.bb{
    height: 300px;
    width: 300px;
    overflow: hidden;
}
.aa:hover{
    height: 350px;
    width: 350px;
}
.bb:hover{
    height: 350px;
    width: 350px;
}