.a{
    height: 200px;
    width:200px;
    background-color: blue ;
    position: relative;
}
.b{
    height: 200px;
    width: 200px;
    background-color: brown ;
    position: relative;
    left: 50px;
    bottom: 100px;
}
.c{
    height: 200px;
    width: 200px;
    background-color: green ;
    position: relative;
    bottom: 125px;
}
.d{
    height: 200px;
    width: 200px;
    background-color: blue ;
    position: relative;
    left: 50px;
    bottom: 150px;
}
.e{
    height: 200px;
    width: 200px;
    background-color: black;
    position: relative;
   bottom: 150px;

}